html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  position: absolute;
  top: 0;
}


.container{
  justify-content: left;
  background-color: brown;
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4% 0% 4% 6%;
  position: relative;
  z-index: 10;
}

.container2{
  justify-content: right;
  background-color: rgb(126, 20, 124);
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4% 6% 4% 0%;
  position: relative;
  z-index: 11;
}

.TEXTO{
  
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  position: relative;
  margin: auto;
  top:70px;
  width: 250px;
  height: 280px;

}

.carta,
.carta2{
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 8px;
  overflow: hidden;
  

}

.carta:hover,
.carta2:hover{
  z-index: 9;
  box-shadow: 10px 10px 8px 1px rgba(0,0,0,0.59);
  transition: 0.2s;
  animation-name: destello;
  animation-duration: 0.5s;
  transform: scale(2);
}


.carta2:hover > .reflejo,
.carta:hover > .reflejo{
  animation-name: brillolinea;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  
}



@keyframes destello{

  50%{
    filter: brightness(0.9) saturate(2) contrast(2);
  }
}

.colores{
  position: absolute;
top: 40px;
  animation-name: rotacion;
  animation-duration: 8s;
  animation-iteration-count: infinite;


}

.colores2{
  position: absolute;
width: 200px;
height: 95px;
top: 92px;
  animation-name: deslice;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes deslice{
  0%{
    transform: translate(-100%) scale(3);


  }
  50%{
    transform: translate(100%)scale(3);

  }

  100%{
    transform: translate(-100%)scale(3);

  }
}


@keyframes rotacion{
  0%{
    transform: rotate(0deg) scale(2);; 

  }
  100%{
    transform: rotate(360deg) scale(2);;

  }
}

.medio1{
position: absolute;
  width: 100%;
  filter: opacity(70%);
}

.arriba1{
  position: absolute;
  width: 100%;
}

.sombra{
  position: absolute;
  width: 100%;
}

.reflejo{

  position: absolute;
  transform: rotate(45deg);
}


@keyframes brillolinea{
  0%{
    transform: rotate(45deg) translateX(0px); 

  }
  100%{
    transform:rotate(45deg) translateX(-200%); 

  }
}