.FONDOCOLOR {
  background-color: rgb(83, 83, 83);
}

/*-------------------------------------introduccion------------------------------------*/
.intro {
  overflow: hidden;
  background: linear-gradient(0deg, rgb(160, 160, 160) 0%, rgb(75, 75, 75) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.cuadrowall {
  transform: scale(1.1);
  background-image: url(../assets/wall1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(3px);
  transition: 0.5s ease;
}

.cuadrowall:hover {
  filter: blur(0px);
  transition: 1s ease;
}


.nombre{
  padding-top: 50%;
  left: 5%;
  width: 50%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  background-image: url(../assets/nombreBLANCO.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: tardaenaparecer 4s;
}
@keyframes tardaenaparecer{
  0%{
filter: opacity(0%);
  }
  80%{
    filter: opacity(0%);
    transform: translateX(-50%);
  }
  100%{
    filter: opacity(100%);
  }
}
.nombrelogo{
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animacionintro 3s;
}
@keyframes animacionintro{
  0%{
    width: 250px;
    height: 250px;
    filter: opacity(100%);
  }
  85%{
    width: 250px;
    height: 250px;
    filter: opacity(100%);
  }
  100%{
    width: 250px;
    height: 250px;
    filter: opacity(0%);
  }
}

.sello, .firma{
  position: absolute;
  width: 100%;
  height: 100%;
}

.sello{
  animation: girarsello 3s;
}
@keyframes girarsello{
  0%{
    filter: opacity(0%);
    transform: rotate(60deg);
  }
  10%{
    filter: opacity(0%);
  }
  100%{
    filter: opacity(100%);
    transform: rotate(0deg);
  }
}
.firma{
animation: aparecefirma 5s;
}
@keyframes aparecefirma{
  0%{
    filter: opacity(0%);

  }
  100%{
    filter: opacity(100%);
  }
}

.descripcionmia {
  padding: 5%;
  width: 50%;
  height: 100%;
  left: 9%;
  position: absolute;
}
 p{
  color: white;
font-family: Arial, Helvetica, sans-serif;
}
.fotomia{
  position:absolute ;
  width: 41%;
  height: 100%;
  right: 0;
}

/*------------------------barra lateras-------------------------------------------*/
.barralateral {
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 20%;
  height: 100%;
  z-index: 99999999999;
background-color: rgba(0, 0, 0, 0.286);
  transform: translateX(-75%);
  transition: 0.5s ease;
}

.barralateral:hover {
  z-index: 99999;
  transform: translateX(0%);
}

.barralateral:hover > .CONTENEDORBARRALATERAL {
  filter: opacity(1);
  pointer-events: all;
  animation-name: demoraenaparecer;
  animation-duration: 0.5s;
}

@keyframes demoraenaparecer {
  0% {
    filter: opacity(0%);
    pointer-events: none;
  }
  100% {
    filter: opacity(100%);
    pointer-events: all;
  }
}



.CONTENEDORBARRALATERAL {
  position: relative;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  list-style-type: none;
  height: 100%;
  width: 100%;
  filter: opacity(0);
  pointer-events: none;
}

.logoimagenbarra {
  margin: auto;
  position: relative;
  background-image: url(../assets/NUEVO\ LOGO\ BLANCO.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

.CONTENEDORBARRALATERAL a {
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height: 4;
}

.opciones {
  border-bottom: 1px solid #ffffff44;
  width: 100%;
}
.opciones:hover{
  background-color: rgba(255, 255, 255, 0.162);
}



.botonbarra {
  position: absolute;
  top: 40%;
  transform: translate(-0%, 50%);
  width: 25%;
  height: 8%;
  background-image: url(../assets/png-clipart-menu-icon-icons-logos-emojis-menu-icons-thumbnail.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: -2%;
  transition: 0.5s ease;
  animation-name: demoraenaparecer;
  animation-duration: 0.5s;
}

.barralateral:hover > .botonbarra {
  filter: opacity(0);
}

.contenedorbotonredes{
  margin-top: 45%;
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}
.contenedorbotonidiomas{
  height: 10%;
  justify-content: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.botonredes {
  filter: opacity(30%);
margin: 0px 10px 0px 10px;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.3s ease;
  background-size: contain;
}

.botonredes:hover {
  transform: scale(1.05);
  border: 2px solid rgb(255, 255, 255);
  filter: opacity(90%);
}

.IDIOMA {
  padding: 0px 10px 0px 10px;
  z-index: 99999;
  filter: opacity(40%);
 font-size: 90%;
}

.IDIOMA:hover {
  text-shadow: 0px 0px 11px rgba(255,255,255,1);
  font-weight: bolder;
  filter: opacity(100%);
}

.cerrar{
  filter: opacity(0);
pointer-events: none;
  z-index: 9999999;
  position:absolute;
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  width: 100%;
  height:10%;
  font-size: 200%;
  bottom: 0;
}

/*-------------------------------------introduccion------------------------------------*/

/*-------------------------------------galeria ------------------------------------*/

.blur {
  filter: blur(10px);
}

.cartacont {
  border: none;
  z-index: 99999;
  position: relative;
  transition: 0.5s ease;
}

.cartacont:hover {
  transform: scale(1.3);
  transition: 0.5s ease;
  z-index: 99999;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0);
}

.infocarta {
  border: none;
  color: rgb(255, 255, 255);
  z-index: 9;
  top: 25%;
  left: 85%;
  position: absolute;
  height: 50%;
  width: 50%;
  transition: 0.6s ease;
  filter: opacity(0);
}

.infocarta p {
  word-break: break-all;
}

.cartacont:hover + .infocarta {
  filter: opacity(100%);
}

.cartagaleria {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  display: flex;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 999;
  transition: 1s;
}

.medio1 {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
}

.arriba1 {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
}
.luz{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  box-shadow: 0px 200px 192px -143px rgba(255, 250, 237, 0.547) inset;
  transition: 0.5s ease;
}
.cartacont:hover .luz {
  filter: opacity(0%);

}
/*-------------------------------------galeria ------------------------------------*/

/*-------------------------------------------------------------------*/
/*------------------------BRILLO CARTA-------------------------------------------*/
.circle {
  position: absolute;
  box-shadow: 0px 0px 100px 100px rgb(255, 255, 255);
  z-index: 6;
}
/*-------------------------------------------------------------------*/

.carouselcontainer {

  background: linear-gradient(27deg, rgb(0, 0, 0) 0%, rgb(182, 182, 182) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  height: 100%;
  right: -70%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.artwork {
  padding:2% 0% 0% 3%;
  height: 100%;
  width: 650px;
  position: relative;
  border-radius: 2px;
  transition: transform 0.5s ease;
}

.prev, .next {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.401);
  height: 60px;
  width: 60px;
  top: 50%;
  position: absolute;
  border: none;
  border-radius: 50%;
  font-size: 130%;
  cursor: pointer;
  z-index: 99999999;
  transition: 0.4s ease;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

.prev:hover, .next:hover {
  box-shadow: 0px 0px 10px 3px rgba(1, 255, 39, 0.75);
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  transition: 0.2s ease;
}



/* Cuadros de los lados, opacidad del 50% */
.near {
  pointer-events: none;
  filter: blur(2px);
}

/* Resto de los cuadros, opacidad del 10% */
.far {
  pointer-events: none;
  filter: blur(5px);
}

.tiendair {
  z-index: 999999;
  right: 5%;
  bottom: 5%;
  position: absolute;
}

.tiendair button {
  transition: 0.3s ease;
  text-wrap: wrap;
  background-color: rgba(0, 247, 255, 0.584);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.tiendair button:hover {
  transition: 0.3s ease;
  text-shadow: 0px 0px 10px rgb(45, 247, 5);
  box-shadow: 0px 0px 10px 3px rgba(1, 255, 39, 0.75);
  color: white;
  background-color: rgba(0, 255, 128, 0.287);
  border: 2px solid white;
}


/* ------------------------------------MEDIA--------------------------------- */

/* Media query para pantallas entre 600px y 1000px */
@media only screen and (min-width: 600px) and (max-width: 1200px) {

  .prev, .next {
    transform: scale(0.7);
    top: 50%;
  }

  .prev {
    left: 15%;
  }

  .next {
    right: 15%;
  }

  .barralateral {
    width: 25%;
    height: 100%;
  }
}
/* -----------------------------------750px--------------------------------- */
@media only screen and (max-width: 750px) {

  .nombre{
    padding-top: 50%;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .prev, .next {
    transform: scale(0.7);
    top: 78%;
  }

  .prev {
    left: 16%;
  }


  .cartacont:hover {
    transform: scale(1.15);
  }

  .barralateral {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 90%;
    z-index: 99999;
    transform: translateX(-85%) translateY(-90%);
  }

  .barralateral:hover {
    background-color: rgba(0, 0, 0, 0.438);
    transform: translateX(0%) translateY(0%);
  }
  .barralateral:hover + .cerrar {
 filter: opacity(70%);
 pointer-events: all;
  }

  .botonredes {
    bottom: 250%;
  margin: 0px 20px 0px 20px;
  }

  .botonbarra {
    top: 85%;
    transform: translate(-0%, 50%);
    width: 15%;
    height: 10%;
    right: -2%;
  }

  .tiendair {
    right: 0%;
    top: -8%;
    transform: scale(0.8);
  }

  .infocarta {
    padding: 5%;
    z-index: 9999999999;
    top: 11%;
    left: 22%;
    pointer-events: none;
  }
  .carousel {
    right: -265%;
  }

  .artwork {
    top: -4%;
transform: scale(0.8);
  }
  .infocarta {
    pointer-events: none;
background-color: rgba(0, 0, 0, 0.491);
    color: rgb(255, 255, 255);
    top: -8%;
    left: 0%;
    height: 130%;
    width: 100%;
    padding: 30% 0% 0% 30%;
    font-size: 130%;
  }


  .descripcionmia {
    width: 100%;
    height: 800px;
    overflow-wrap: break-word;
    left: 0%;
    top: 10%;
    position: absolute;
    padding: 15%;
  }
  
}


